# Node Service
PORT=3001
JWT_SECRET=

# Laravel HTTP Client (internal Docker network)
LARAVEL_INTERNAL_URL=http://laravel-service:8000
LARAVEL_HTTP_TIMEOUT=5000

# Frontend (Nuxt runtimeConfig)
NUXT_PUBLIC_WS_URL=http://localhost/ws
